// @font-face {
//     font-family: "PT Sans";
//     src: url(../fonts/ptSans/PTSans-Regular.ttf) format(".ttf");
// }

// @font-face {
//     font-family: "PTSans-Bold";
//     src: url(../fonts/ptSans/PTSans-Bold.ttf) format(".ttf");
// }

@font-face {
    font-family: "Merriweather-Regular";
    src: url(../fonts/merriweather/Merriweather-Regular.ttf);
}

@font-face {
    font-family: "Merriweather-Bold";
    src: url(../fonts/merriweather/Merriweather-Bold.ttf);
}

@font-face {
    font-family: "Georgia-Regular";
    src: url(../fonts/georgia/georgia.ttf);
}

@font-face {
    font-family: "Georgia-BoldItalic";
    src: url(../fonts/georgia/georgia.ttf);
}