$tertiary: #F3F3F3;
$tertiary-inactive: #E3E3E3;
$accent: #F5540C;
$gray-primary: #D2CCC6;
$black-secondary: #181716;
$gray-secondary-light: #4B4845;
$accent-hover: #FD6623;
$$gray-primary-light: #D7D2CC;
$gray-secondary-hovered: #3E3B39;
$articles-header: #1D1D1D;
$gray-secondary-light: #4B4845;
$gray-secondary-light-ultra: #9A9590;
$secondary-light: #4E4E4E;