@import '../global/mixins.scss';
@import '../global/fonts-mixins/MerriweatherMix.scss';
@import '../global/fonts-mixins/PTSansMix.scss';
@import './utilities/FiltersBar.scss';
@import './PostItem/ShortPost.scss';

.articles-cases {
    padding: 8rem 0;
    background: $gray-primary;

    @media screen and (min-width: 992px) {
        min-height: calc(100vh - 10.32rem);
    }
    @media screen and (max-width: 991px) {
        padding: 4.8rem 0;
    }
    @media screen and (max-width: 425px) {
        padding: 3.2rem 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media screen and (max-width: 991px) {
            flex-direction: column;
            row-gap: 4.8rem;
        }
        @media screen and (max-width: 425px) {
            flex-direction: column;
            row-gap: 2.4rem;
        }

        .filters {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            &__inner {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 1.6rem;

                max-width: max-content;

                border: .2rem solid $gray-secondary-light;
                border-radius: 2.4rem;

                padding: 1.2rem 2.4rem;

                background: none;

                @media screen and (max-width: 425px) {
                    column-gap: .8rem;
                }

                img {
                    @media screen and (max-width: 991px) {
                        height: 50%;
                    }
                    @media screen and (max-width: 425px) {
                        height: auto;
                    }
                }

                span {
                    @include Merriweather-24px;
                    color: $gray-secondary-light;

                    @media screen and (max-width: 425px) {
                        @include textMobile-18px;
                    }
                    @media screen and (max-width: 425px) {
                        @include textMobile-16px;
                    }
                }

            }
        }

        .nav-bar {
            @include filtersBarStyles;
        }

        .articles-cases-container {
            display: flex;
            flex-wrap: wrap;
            column-gap: 2.4rem;
            row-gap: 2.4rem;
            justify-content: space-between;

            max-width: 70%;

            @media screen and (max-width: 991px) {
                max-width: 100%;
                width: 100%;
            }

            @media screen and (max-width: 576px) {
                flex-direction: column;
                flex-wrap: nowrap;
            }
        }
    }
}